*{
	padding: 0;
	margin: 0;
}
body{
	margin-left: 5%;
	margin-right: 5%;
}
a:hover{color: rgb(93,169,249);text-decoration: none;}
a{
	text-decoration: none;
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft Yahei";	
	font-size: 18px;
	color: black;
}
h3{
	color: rgb(93,169,249);
}
.register:hover{
	background-color: rgb(93,169,249);
}
.register a:hover{
	color: black;
}
.top{
	width: 100%;
	height: 120px;
}
.top_logo{
	width: 30%;
	height: 120px;
	float: left;
}
.top_menu{
	width: 40%;
	height: 120px;
	float: left;
	text-align: center;
}
.top_login{
	width: 30%;
	height: 120px;
	float: left;
}
.xl{
	border-bottom: 2px solid rgb(93,169,249);
}
.xl a{
	color: rgb(93,169,249);
}
.ul li{
	list-style: none;
	float: left;
	line-height: 25px;
	position: relative;
	top: 36px;
	left: 40px;
	padding: 0 20px 15px;
}
.login_word{
	font-size: 14px;
	position: relative;
	top: 70px;
	left: 90px;
	color: red;
	width: 270px;
}
.register{
	width: 70px;
	height: 40px;
	color: black;
	border: 2px solid rgb(93,169,249);
	border-radius:10px; 
	position: relative;
	bottom: 30px;
	float: left;
}
.register_word{
	position: relative;
	top: 20%;
	left: 20%;
}
.login{
	position: relative;
	left: 100px;
}
span:hover{
	color:rgb(93,169,249);
	cursor:pointer;
}
.buttom{
	font-size: 14px;
}
#center-left{
	width: 10%;
	position: fixed;
	left: 80px;
	top: 170px;
}
#center-right{
	width: 65%;
	margin: 0 auto;
	margin-top: 50px;
}
#center-top{
	width: 100%;
	text-align: right;
	order: 1px dashed #000;
}
textarea{
	resize:none;
	width: 100%;
	height: 100px;
}
#seach{
	position: relative;
	top: 100px;
}
#center-bottom{
	width: 100%;
	margin-top: 25px;
	overflow: auto;
}
.talk{
	font-family:微软雅黑;
}
.spn1{
	font-size:18px;
}
.bt4,.bt5,.bt6{
	border:none;
	width:10%;
	font-size:12px;
	background-color:#FFFFFF;
	float:right;
}
.talkcontent{
	font-size:14px;
}
.reply{
	margin-top:12px;
	background-color:rgb(223,240,216);		/* 回复的背景颜色 */
}
.replycontent{
	border:1px soild #FA7D3C;
	position:relative;
	left:12px;
	height:28px;
	width:90%;
}
.bt7{
	margin-top:5px;
	width:60px;
	position:relative;
	left:87%;
	height:28px;
	border:0;
	border-radius: 20px;
}
#collectcontent{
	width: 65%;
	margin: 0 auto;
	margin-top: 50px;
}